VITE_API_URL=http://localhost:1234
VITE_PHOTO_STORAGE_FOLDER=storage/media
VITE_DEFAULT_AVATAR_URL=default_avatar.png
VITE_DEFAULT_BACKGROUND_URL=default_background.jpg
VITE_DEFAULT_EXPERIENCE_LOGO_URL=default_experience.jpg
VITE_DEFAULT_EDUCATION_LOGO_URL=default_education.jpg
VITE_DEFAULT_PROJECT_LOGO_URL=default_project.jpg
VITE_DEFAULT_COURSE_THUMBNAIL_URL=default_background.jpg
